$step-up-5: 2em;
$step-up-4: 1.7511em;
$step-up-3: 1.5157em;
$step-up-2: 1.3195em;
$step-up-1: 1.1487em;

/* baseline: 1em */

$step-down-1: 0.8706em;
$step-down-2: 0.7579em;
$step-down-3: 0.6599em;
$step-down-4: 0.5745em;
$step-down-5: 0.5em;

$font-serif : 'Playfair Display', serif;
$font-sans: 'Open Sans', sans-serif;

/* COLORS */
$color1: rgba(248, 255, 229, 1);
$color2: rgba(0, 105, 137, 1);
$color3: rgba(6, 214, 160, 1);
$color4: rgba(239, 71, 111, 1);
$color5: rgba(255, 196, 61, 1);
$color6: rgba(28, 28, 28, 1);
$color7: hsl(0, 0%, 26%);

/* Decorations */

$post-border: 1px solid rgb(173, 173, 173);
